<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="template_folder" value="template_img"/>
    <add key="ss_file_name" value="ss.jpg"/>
    <add key="ss_folder" value="img"/>
    <add key="delete_ss" value="false"/>
  </appSettings>
</configuration>